.page-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.splash-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: auto;
  width: 100px;
}

.links{
  display: flex;

}

.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name, .developer {
  display:flex;
  justify-content: center;
}